---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import FormattedDate from '../components/FormattedDate.astro';

const latestPost = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)[0];
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			a {
				text-decoration: none;
			}
			.title:hover {
				color: rgb(var(--accent));
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>Shawn Carnegie's Blog</h1>
			<p>
				See my latest post
			</p>
			<a href={`/blog/${latestPost.id}/`}>
				<h4 class="title">{latestPost.data.title}</h4>
				<p class="date">
					<FormattedDate date={latestPost.data.pubDate} />
				</p>
			</a>
		</main>
	</body>
</html>
